:root {
	--main: #158a58;
	--darktext: #242328;
	--lighttext: #fdfdfd;
	--border: 4px solid var(--main);
}

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	color: var(--darktext);
	font-family: "Overpass", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-size: 1.2rem;
}

a {
	text-decoration: none;
}

.navbar {
	height: 4rem;
	font-size: 1.2rem;
	font-weight: 900;
}

.navbar-logo a {
	text-decoration: none;
	color: var(--darktext);
}

.navbar-container {
	height: 4rem;
	margin: 0 12rem 0 12rem;
	border-bottom: var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-list-items {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar-list-item a {
	text-decoration: none;
	color: var(--darktext);
}

.navbar-list-item__contact {
	background: var(--main);
	padding: 0.4rem;
}

.navbar-list-item__contact a {
	text-decoration: none;
	color: var(--lighttext);
}

footer {
	background: var(--main);
	padding: 4rem 12rem 4rem 12rem;
}

.footer-container {
	display: flex;
	justify-content: space-around;
}





