h1 {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	border: var(--border);
}

p {
	padding-top: 1rem;
}

.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 4rem 0 4rem 0;
}

.hero img {
	border-radius: 50%;
	height: 20rem;
	width: 20rem;
	border: var(--border);
}

.hero-profile {
	margin: 0 0 2.6rem 0;
	padding: 1rem 0 1rem 0;
	display: flex;
	justify-content: space-around;
	background: var(--main);
}

table a {
	color: var(--lighttext);
	text-decoration: underline;
}

table {
	color: var(--lighttext);
}

td {
	padding: 0.4rem;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social-icons-container {
	display: flex;
	justify-content: space around;
	align-items: center;
	gap: 2rem;
	margin: 0 0 2.6rem 0;
}

.cv-main {
	margin: 0 12rem 0 12rem;
}

.main-container {
	padding-bottom: 2rem;
}

.info-block {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px dotted black;
}